:root {
    --player-color: rgb(80, 30, 40);
}

* {
    padding: 0;
    margin: 0;
    font-family: 'Monsterrat', 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.background {
    background-color: #15121b;
    height: 100vh;
    padding-top: 1px;
}

.title {
    color: white;
    text-align: center;
    font-size: 40px;
    margin-top: 10%;
}

.display {
    color: white;
    font-size: 25px;
    text-align: center;
    margin-top: 1em;
    margin-bottom: 1em;
}

.hide {
    display: none;
}

.container {
    margin: 0 auto;
    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: 33% 33% 33%;
    max-width: 300px;
}


.tile {
    border: white 1px solid;
    z-index: 10;
    min-width: 100px;
    min-height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    cursor: pointer;
    transition: all 2s cubic-bezier(0.39, 0.575, 0.565, 1);
    background-color: #15121b;
}

.tile:hover {
    background-color: var(--player-color);
    transition: all 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.playerX {
    color: #c3093b;
    user-select: none;
    cursor: initial;
}

.playerO {
    color: #5d00ff;
    user-select: none;
    cursor: initial;
}

.controls {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 1em;
}

.controls button {
    color: #15121b;
    padding: 8px;
    border-radius: 8px;
    border: none;
    font-size: 20px;
    margin-left: 1em;
    cursor: pointer;
}

.restart {
    background-color: #15121b;
}

#reset {
    background-color: #FF3860;
    margin: 0;
}